# Created by https://www.gitignore.io/api/java,android,windows
# Edit at https://www.gitignore.io/?templates=java,android,windows

*.apk
*.ap_
*.aab
*.dex
*.class
local.properties
*.log
*.iml
gen-external-apklibs
output.json
.mtj.tmp/
hs_err_pid*
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk

# End of https://www.gitignore.io/api/java,android,windows